<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
id="org.apache.cordova.media"
    version="0.2.11-dev">

    <name>Media</name>
    <description>Cordova Media Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,media</keywords>
    <repo>https://git-wip-us.apache.org/repos/asf/cordova-plugin-media.git</repo>
    <issue>https://issues.apache.org/jira/browse/CB/component/12320647</issue>
    
    <dependency id="org.apache.cordova.file" version="1.0.1" />

    <js-module src="www/MediaError.js" name="MediaError">
        <clobbers target="window.MediaError" />
    </js-module>
    
    <js-module src="www/Media.js" name="Media">
        <clobbers target="window.Media" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Media" >
                <param name="android-package" value="org.apache.cordova.media.AudioHandler"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:label="@string/downloader_name" android:name="org.apache.cordova.media.MediaDownloaderActivity">
                <intent-filter>
                    <action android:name="org.apache.cordova.media.AudioHandler.VIEW" />
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
            </activity>
            <!--
             In order to start the service, it must be uniquely registered with
             the package manager here.
            -->
            <service android:name="org.apache.cordova.media.MediaDownloaderService" />

            <!--
             In order for the alarm manager to contact the downloader script, the receiver
             must be uniquely registered with the package manager here.
            -->
            <receiver android:name="org.apache.cordova.media.MediaSystemAlarmReceiver" />
        </config-file>
        
        <source-file src="src/android/AudioHandler.java" target-dir="src/org/apache/cordova/media" />
        <source-file src="src/android/AudioPlayer.java" target-dir="src/org/apache/cordova/media" />
        <source-file src="src/android/FileHelper.java" target-dir="src/org/apache/cordova/media" />

        <source-file src="src/android/MediaDownloaderService.java" target-dir="src/org/apache/cordova/media" />
        <source-file src="src/android/MediaSystemAlarmReceiver.java" target-dir="src/org/apache/cordova/media" />
        <source-file src="src/android/MediaDownloaderActivity.java" target-dir="src/org/apache/cordova/media" />

        <!-- Layout file -->
        <source-file src="src/android/layout/downloader.xml" target-dir="res/layout" />

        <!-- Downloader Library -->
        <source-file src="src/android/downloader/src/com/google/android/vending/expansion/downloader/Constants.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/src/com/google/android/vending/expansion/downloader/DownloaderClientMarshaller.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/src/com/google/android/vending/expansion/downloader/DownloaderServiceMarshaller.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/src/com/google/android/vending/expansion/downloader/DownloadProgressInfo.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/src/com/google/android/vending/expansion/downloader/Helpers.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/src/com/google/android/vending/expansion/downloader/IDownloaderClient.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/src/com/google/android/vending/expansion/downloader/IDownloaderService.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/src/com/google/android/vending/expansion/downloader/IStub.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/src/com/google/android/vending/expansion/downloader/SystemFacade.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/src/com/google/android/vending/expansion/downloader/FakeR.java"
                     target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/src/com/google/android/vending/expansion/downloader/impl/AndroidHttpClient.java"
                     target-dir="src/com/google/android/vending/expansion/downloader/impl" />
        <source-file src="src/android/downloader/src/com/google/android/vending/expansion/downloader/impl/CustomIntentService.java"
                     target-dir="src/com/google/android/vending/expansion/downloader/impl" />
        <source-file src="src/android/downloader/src/com/google/android/vending/expansion/downloader/impl/CustomNotificationFactory.java"
                     target-dir="src/com/google/android/vending/expansion/downloader/impl" />
        <source-file src="src/android/downloader/src/com/google/android/vending/expansion/downloader/impl/DownloaderService.java"
                     target-dir="src/com/google/android/vending/expansion/downloader/impl" />
        <source-file src="src/android/downloader/src/com/google/android/vending/expansion/downloader/impl/DownloadInfo.java"
                     target-dir="src/com/google/android/vending/expansion/downloader/impl" />
        <source-file src="src/android/downloader/src/com/google/android/vending/expansion/downloader/impl/DownloadNotification.java"
                     target-dir="src/com/google/android/vending/expansion/downloader/impl" />
        <source-file src="src/android/downloader/src/com/google/android/vending/expansion/downloader/impl/DownloadsDB.java"
                     target-dir="src/com/google/android/vending/expansion/downloader/impl" />
        <source-file src="src/android/downloader/src/com/google/android/vending/expansion/downloader/impl/DownloadThread.java"
                     target-dir="src/com/google/android/vending/expansion/downloader/impl" />
        <source-file src="src/android/downloader/src/com/google/android/vending/expansion/downloader/impl/HttpDateTime.java"
                     target-dir="src/com/google/android/vending/expansion/downloader/impl" />
        <source-file src="src/android/downloader/src/com/google/android/vending/expansion/downloader/impl/V3CustomNotification.java"
                     target-dir="src/com/google/android/vending/expansion/downloader/impl" />
        <source-file src="src/android/downloader/src/com/google/android/vending/expansion/downloader/impl/V14CustomNotification.java"
                     target-dir="src/com/google/android/vending/expansion/downloader/impl" />

        <!-- APK Expansion Zip Library -->
        <source-file src="src/android/zipfile/APEZProvider.java"
                     target-dir="src/com/android/vending/expansion/zipfile" />
        <source-file src="src/android/zipfile/APKExpansionSupport.java"
                     target-dir="src/com/android/vending/expansion/zipfile" />
        <source-file src="src/android/zipfile/ZipResourceFile.java"
                     target-dir="src/com/android/vending/expansion/zipfile" />

        <!-- Licencing Library -->
        <source-file src="src/android/licensing/AESObfuscator.java"
                     target-dir="src/com/google/android/vending/expansion/licensing" />
        <source-file src="src/android/licensing/APKExpansionPolicy.java"
                     target-dir="src/com/google/android/vending/expansion/licensing" />
        <source-file src="src/android/licensing/DeviceLimiter.java"
                     target-dir="src/com/google/android/vending/expansion/licensing" />
        <source-file src="src/android/licensing/ILicenseResultListener.java"
                     target-dir="src/com/google/android/vending/expansion/licensing" />
        <source-file src="src/android/licensing/ILicensingService.java"
                     target-dir="src/com/google/android/vending/expansion/licensing" />
        <source-file src="src/android/licensing/LicenseChecker.java"
                     target-dir="src/com/google/android/vending/expansion/licensing" />
        <source-file src="src/android/licensing/LicenseCheckerCallback.java"
                     target-dir="src/com/google/android/vending/expansion/licensing" />
        <source-file src="src/android/licensing/LicenseValidator.java"
                     target-dir="src/com/google/android/vending/expansion/licensing" />
        <source-file src="src/android/licensing/NullDeviceLimiter.java"
                     target-dir="src/com/google/android/vending/expansion/licensing" />
        <source-file src="src/android/licensing/Obfuscator.java"
                     target-dir="src/com/google/android/vending/expansion/licensing" />
        <source-file src="src/android/licensing/Policy.java"
                     target-dir="src/com/google/android/vending/expansion/licensing" />
        <source-file src="src/android/licensing/PreferenceObfuscator.java"
                     target-dir="src/com/google/android/vending/expansion/licensing" />
        <source-file src="src/android/licensing/ResponseData.java"
                     target-dir="src/com/google/android/vending/expansion/licensing" />
        <source-file src="src/android/licensing/ServerManagedPolicy.java"
                     target-dir="src/com/google/android/vending/expansion/licensing" />
        <source-file src="src/android/licensing/StrictPolicy.java"
                     target-dir="src/com/google/android/vending/expansion/licensing" />
        <source-file src="src/android/licensing/ValidationException.java"
                     target-dir="src/com/google/android/vending/expansion/licensing" />
        <source-file src="src/android/licensing/util/Base64DecoderException.java"
                     target-dir="src/com/google/android/vending/expansion/licensing" />
        <source-file src="src/android/licensing/util/Base64.java"
                     target-dir="src/com/google/android/vending/expansion/licensing" />

        <config-file target="res/values/strings.xml" parent="/resources">
            <!-- When a download completes, a notification is displayed, and this
               string is used to indicate that the download successfully completed.
               Note that such a download could have been initiated by a variety of
               applications, including (but not limited to) the browser, an email
               application, a content marketplace. -->
            <string name="notification_download_complete">Download complete</string>

            <!-- When a download completes, a notification is displayed, and this
                string is used to indicate that the download failed.
                Note that such a download could have been initiated by a variety of
                applications, including (but not limited to) the browser, an email
                application, a content marketplace. -->
            <string name="notification_download_failed">Download unsuccessful</string>


            <string name="state_unknown">Starting..."</string>
            <string name="state_idle">Waiting for download to start</string>
            <string name="state_fetching_url">Looking for resources to download</string>
            <string name="state_connecting">Connecting to the download server</string>
            <string name="state_downloading">Downloading resources</string>
            <string name="state_completed">Download finished</string>
            <string name="state_paused_network_unavailable">Download paused because no network is available</string>
            <string name="state_paused_network_setup_failure">Download paused. Test a website in browser</string>
            <string name="state_paused_by_request">Download paused</string>
            <string name="state_paused_wifi_unavailable">Download paused because wifi is unavailable</string>
            <string name="state_paused_wifi_disabled">Download paused because wifi is disabled</string>
            <string name="state_paused_roaming">Download paused because you are roaming</string>
            <string name="state_paused_sdcard_unavailable">Download paused because the external storage is unavailable</string>
            <string name="state_failed_unlicensed">Download failed because you may not have purchased this app</string>
            <string name="state_failed_fetching_url">Download failed because the resources could not be found</string>
            <string name="state_failed_sdcard_full">Download failed because the external storage is full</string>
            <string name="state_failed_cancelled">Download cancelled</string>
            <string name="state_failed">Download failed</string>

            <string name="kilobytes_per_second">%1$s KB/s</string>
            <string name="time_remaining">Time remaining: %1$s</string>
            <string name="time_remaining_notification">%1$s left</string>

            <string name="text_paused_cellular">Would you like to enable downloading over cellular connections? Depending on your data plan, this may cost you money.</string>
            <string name="text_paused_cellular_2">If you choose not to enable downloading over cellular connections, the download will automatically resume when wi-fi is available.</string>
            <string name="text_button_resume_cellular">Resume download</string>
            <string name="text_button_wifi_settings">Wi-Fi settings</string>
            <string name="text_verifying_download">Verifying Download</string>
            <string name="text_validation_complete">XAPK File Validation Complete.  Select OK to exit.</string>
            <string name="text_validation_failed">XAPK File Validation Failed.</string>
            <string name="text_button_pause">Pause Download</string>
            <string name="text_button_resume">Resume Download</string>
            <string name="text_button_cancel">Cancel</string>
            <string name="text_button_cancel_verify">Cancel Verification</string>
            <string name="downloader_name">Resource Downloader</string>
        </config-file>

     </platform>
     
     <!-- amazon-fireos -->
    <platform name="amazon-fireos">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Media" >
                <param name="android-package" value="org.apache.cordova.media.AudioHandler"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        
        <source-file src="src/android/AudioHandler.java" target-dir="src/org/apache/cordova/media" />
        <source-file src="src/android/AudioPlayer.java" target-dir="src/org/apache/cordova/media" />
        <source-file src="src/android/FileHelper.java" target-dir="src/org/apache/cordova/media" />
     </platform>


     <!-- ubuntu -->
     <platform name="ubuntu">
         <config-file target="config.xml" parent="/*">
             <feature name="Media">
                 <param policy_group="microphone" policy_version="1" />
                 <param policy_group="video" policy_version="1" />
             </feature>
         </config-file>
         <header-file src="src/ubuntu/media.h" />
         <source-file src="src/ubuntu/media.cpp" />
     </platform>

     <!-- ios -->
     <platform name="ios">    
         <config-file target="config.xml" parent="/*">
             <feature name="Media">
                 <param name="ios-package" value="CDVSound" /> 
             </feature>
         </config-file>
         <header-file src="src/ios/CDVSound.h" />
         <source-file src="src/ios/CDVSound.m" />
     </platform>

    <!-- blackberry10 -->
    <platform name="blackberry10">
        <source-file src="src/blackberry10/index.js" target-dir="Media" />
        <config-file target="www/config.xml" parent="/widget">
            <feature name="Media" value="Media"/>
        </config-file>
    </platform>

    <!-- wp7 -->
    <platform name="wp7">
        <config-file target="config.xml" parent="/*">
            <feature name="Media">
                <param name="wp-package" value="Media"/>
            </feature>
        </config-file>

        <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
            <Capability Name="ID_CAP_MEDIALIB"/>
            <Capability Name="ID_CAP_MICROPHONE"/>
        </config-file>

        <source-file src="src/wp/Media.cs" />
        <source-file src="src/wp/AudioPlayer.cs" />
    </platform>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="Media">
                <param name="wp-package" value="Media"/>
            </feature>
        </config-file>

        <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
            <Capability Name="ID_CAP_MEDIALIB_AUDIO"/>
            <Capability Name="ID_CAP_MEDIALIB_PLAYBACK"/>
            <Capability Name="ID_CAP_MICROPHONE"/>
        </config-file>

        <source-file src="src/wp/Media.cs" />
        <source-file src="src/wp/AudioPlayer.cs" />
    </platform>

    <!-- windows8 -->
    <platform name="windows8">
        <js-module src="src/windows8/MediaProxy.js" name="MediaProxy">
            <merges target="" />
        </js-module>

        <config-file target="package.appxmanifest" parent="/Package/Capabilities">
            <Capability Name="musicLibrary" />
            <DeviceCapability Name="microphone" />
        </config-file>
    </platform>

    <!-- tizen -->
    <platform name="tizen">
        <js-module src="src/tizen/MediaProxy.js" name="MediaProxy">
            <runs/>
        </js-module>
    </platform>
</plugin>
